body{ 
    background-color: #A4A9BD;
    margin: 0;

}

.navbar{
    margin: 0;
    text-align: right;
    padding: 1rem 2rem 0rem 0rem;
    height: 4.5rem;
    background-color: #e2e2e4;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #e2e2e4;
}

#formulario{
    margin: 2rem 0rem 0rem 30rem;
    display: flex;
    justify-content: center;
}

.form-group{
    margin: 0;
}

.cadastro{
    background: linear-gradient(164, 169, 189, .9);
    background: linear-gradient(180deg, rgba(64,74,112,1) 0%, rgba(164,169,189,1) 35%, rgba(208,215,240,1) 100%);
    border: 3px solid #404A70;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 25rem;
    height: 30rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    padding-top: 0.8rem;
}

#botoes{
    background-color: #e2e2e4;
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: #404A70;
    font-weight: bold;
}

label{
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #404A70;
    
}

#campos{
    padding-bottom: 0.5rem;
}

a{
    color: #404A70;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover{
    color: #626570;
    font-weight: bold;
    text-decoration: underline 2px;
}

#img{
    vertical-align: text-bottom;
    width: 3rem;
}

#nome {
    /* margin-left: 3rem; */
    padding-left: 0.5rem;
    height: 1.3rem;
    width: 15rem;
    border: 1px solid #404A70;
    border-radius: 0.2rem;
}
#cpf {
    /* margin-left: 3.5rem; */
    padding-left: 0.5rem;
    height: 1.3rem;
    width: 15rem;
    border: 1px solid #404A70;
    border-radius: 0.2rem;
}
#email {
    /* margin-left: 2.8rem; */
    padding-left: 0.5rem;
    height: 1.3rem;
    width: 15rem;
    border: 1px solid #404A70;
    border-radius: 0.2rem;
}
#telefone {
    /* margin-left: 2rem; */
    padding-left: 0.5rem;
    height: 1.3rem;
    width: 15rem;
    border: 1px solid #404A70;
    border-radius: 0.2rem;
}
#cep {
    /* margin-left: 3.5rem; */
    padding-left: 0.5rem;
    height: 1.3rem;
    width: 15rem;
    border: 1px solid #404A70;
    border-radius: 0.2rem;
}
