body{ 
    background-color: #A4A9BD;
    margin: 0;
}

.navbar{
    margin: 0;
    text-align: right;
    padding: 1rem 2rem 0rem 0rem;
    height: 4.5rem;
    background-color: #e2e2e4;
}

.container{
    margin-top: 1rem;
}

.row{
    background-color: #e2e2e4;
    border-radius: 2rem;
    padding: 2rem;
}

#avatar{
    padding: 1rem;
    font-size: 30px;
    color: #404A70;
    font-family: Arial, Helvetica, sans-serif;
}

#info{
    color: #404A70;
    padding-top: 3rem;
}

.botoes{
    text-align: right;
    margin-top: 1rem;
    margin-right: 7rem;
    padding-left: 5rem;
}

#avatar-img {
    margin-right: 5rem;
    width: 8rem;
    margin-bottom: 0;
}

a{
    color: #404A70;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover{
    color: #626570;
    font-weight: bold;
    text-decoration: underline 2px;
}

#img{
    vertical-align: text-bottom;
    width: 3rem;
}

#name{
    text-decoration: underline 2px;
}