body{ 
    background-color: #A4A9BD;
    margin: 0;
}

.navbar{
    margin: 0;
    text-align: right;
    padding: 1rem 2rem 0rem 0rem;
    height: 4.5rem;
    background-color: #e2e2e4;
}

.container-fluid{
    background-color: #626570;
    padding: 2rem;
    color: #e2e2e4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #404A70;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover{
    color: #626570;
    font-weight: bold;
    text-decoration: underline 2px;
}

#img{
    vertical-align: text-bottom;
    width: 3rem;
}

#cafe{
    width: 15rem;
    border-radius: 3rem;
}

#leite{
    width: 15rem;
    border-radius: 3rem;
}

#cana{
    width: 15rem;
    border-radius: 3rem;
}

#peixe{
    width: 15rem;
    border-radius: 3rem;
}